<a class="anchor" id="about"></a>
<div class="home-container salmon scrollable center">
  <div>
    <div class="about-content row">
      <div class="about-text col-12 col-lg-6">
        <h1>Hi! I'm Will, thanks for visiting</h1>
        <br>
        <p>
          I’ve been working with – and within – technology companies for the past decade, helping to prove how products impact users. I’ve recently taken some time out to improve my software development skills, and in September, completed an intensive three-month full-stack web development bootcamp.
        </p>
        <br>
        <p>
          I now want to use both sets of skills to build efficient products that solve user problems simply and clearly.
        </p>
        <br>
        <p>
          Outside of work, I enjoy cycling into the countryside around Amsterdam, video-games and quiz shows with a cup of tea.
        </p>
        <div class="but">
          <%= link_to asset_path("colors.gif") do %>
          <i class="fas fa-download"></i> Download CV
          <% end %>
        </div>
      </div>
      <div class="about-image col-12 center col-lg-6">
        <%= image_tag "will_sepia.png" %>
      </div>
    </div>


    <div class="row">
      <h4>Skills</h4>
      <div class="about-skills col-12 ">
        <% @skills.each do |skill| %>
        <% case skill.genre %>
        <% when "backend" %>
        <div class="pill backend">
          <p> <%= skill.name %> </p>
        </div>
        <% when "frontend" %>
        <div class="pill frontend">
          <p> <%= skill.name %> </p>
        </div>
        <% when "platform" %>
        <div class="pill platform">
          <p> <%= skill.name %> </p>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
