<div class="scroll-master-container">
  <div class="scroll-child-container">
    <%= render "shared/welcome" %>
  </div>
  <div class="scroll-child-container">
    <%= render "shared/intro" %>
  </div>
  <div class="scroll-child-container">
    <%= render "shared/projects" %>
  </div>
  <div class="scroll-child-container">
    <%= render "shared/about" %>
  </div>
  <div class="scroll-child-container">
    <%= render "shared/end" %>
  </div>
</div>
