<div class="scroll-master-container">
  <section class="scroll-child-container">
    <%= render "shared/welcome" %>
  </section>
  <section class="scroll-child-container">
    <%= render "shared/intro" %>
  </section>
  <section class="scroll-child-container">
    <%= render "shared/projects" %>
  </section>
  <section class="scroll-child-container">
    <%= render "shared/about" %>
  </section>
  <section class="scroll-child-container">
    <%= render "shared/end" %>
  </section>
</div>
