<div class="home-container">

  <div class="navbar">

    <h1>words</h1>
  </div>

  <div class="body">
    <% @projects.each do |project|  %>
    <%= project.title %>
    <%= project.description %>
    <%= project.body %>
    <%= project.url %>
    <%= project.date %>
    <%= project.skills %>
    <%= project.image %>

    <% end %>
  </div>

</div>
