
<%= render "shared/welcome" %>
<%= render "shared/intro" %>
<%= render "shared/projects" %>
<%= render "shared/about" %>
<%= render "shared/end" %>

<!-- <div class="home-container blossom">
  <div class="project-text">
    <h1>Header Text</h1>
    <p>About Text</p>
  </div>
</div>


<div class="home-container salmon">
  <div class="project-text">
    <h1>Header Text</h1>
    <p>About Text</p>
  </div>
</div>
<div class="break"></div>

 -->
